a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: #e6e6e6;
    text-decoration: none;
}

a:hover {
    color: #e6e6e6;
    text-decoration: none;
}

a:active {
    color: white;
    text-decoration: none;
}

@import 'application';
